<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Component</title>
  </head>
  <body>
    <form id="form-view">
      <input type="text" placeholder="검색어를 입력하세요" autofocus />
      <button type="reset" class="btn-reset"></button>
    </form>
    <div id="result-view"></div>
    <div id="tab-view"></div>
    <li class="active">추천 검색어</li>
    <div id="keyword-view"></div>
    <div id="history-view"></div>
    <script src="main.js"></script>
  </body>
</html>
